numpy==1.21.6
scipy==1.7.3
scikit-image
matplotlib
pillow
tqdm
einops
wandb
laspy
jaxtyping
colorama
opencv-python
imageio
plotly
open3d==0.17.0
mmcv==1.6.0
torchmetrics==0.11.4
tensorboard
termcolor
huggingface-hub
protobuf<4
ninja
plyfile==0.8.1
tinycudann==2.0
